.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
}
  
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.stackButton {
    cursor: pointer;
    flex-direction: column;
    margin: 0 16px;
    display: block;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    transition: 0.4s;
}

.spacer {
    flex: 1;
}

@media screen and (max-width: 600px) { 
    .topnav a {
        display: none;
    }
    
    .topnav a.active {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .stackButton {
        display: none;
    }
}